* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 95%;
}

#header {
  background: rgba(44, 44, 44, 1);
  padding: 15px 0;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid rgba(24, 24, 24, 1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header>div {
  display: flex;
  gap: 20px;
  font-weight: 700;
}

.btn {
  padding: 10px;
  background: white;
  color: rgba(44, 44, 44, 1);
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  border: none;
}

.header a:hover {
  opacity: 0.5;
}

.header a {
  color: white;
  text-decoration: none;
  height: fit-content;
  transition: opacity 0.15s;
  
}

#first-cut {
  color: white;
  padding-top: 100px;
  background: rgba(44, 44, 44, 1);
}

.first-cut h1 {
  font-size: 64px;
}

.first-cut > :nth-child(1) {
  display: flex;
  gap: 20px;
  padding: 10px 0 40px;
  font-weight: 700;
}
.first-cut > div:nth-of-type(2){
  background: url('../image/Main-pic.webp');
  background-size: cover;
  height: 500px;
  position: relative;
}
.first-cut h1 {
  letter-spacing: -4px;
}

.first-cut p {
  flex-shrink: 0;
}

.first-cut-discount {
  position: absolute;
  display: flex;
  background-color: rgb(173, 174, 165);
  right: 30px;
  bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}
.first-cut-discount>div{
  display: flex;
  border: 1px solid red;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0;
}
.first-cut-discount h3{
  font-size: 24px;
}
.first-cut img{
  height: 45%;
}
.first-cut .btn{
  width: 100%;
}