* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 95%;
}

#header {
  background: rgba(44, 44, 44, 1);
  padding: 15px 0;
  width: 100%;
  position: fixed;
  z-index: 99;
  border-bottom: 1px solid rgba(24, 24, 24, 1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header>div {
  display: flex;
  gap: 20px;
  font-weight: 700;
}

.btn {
  padding: 10px;
  background: white;
  color: rgba(44, 44, 44, 1);
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  transition: 0.15s;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.701);
}

.header a {
  color: white;
  text-decoration: none;
  height: fit-content;
}

#first-cut {
  color: white;
  padding-top: 100px;
  background: rgba(44, 44, 44, 1);
}

.first-cut h1 {
  font-size: 64px;
}

.first-cut> :nth-child(1) {
  display: flex;
  gap: 20px;
  padding: 10px 0 40px;
  font-weight: 700;
}

.first-cut>div:nth-of-type(2) {
  background: url('../image/Main-pic.webp');
  background-size: cover;
  height: 500px;
  position: relative;
  z-index: 1;
}

.first-cut h1 {
  letter-spacing: -4px;
}

.first-cut p {
  flex-shrink: 0;
}

.first-cut-discount {
  position: absolute;
  display: flex;
  background-color: rgb(173, 174, 165);
  right: 30px;
  bottom: 20px;
  padding: 10px;
  gap: 30px;
  width: 65%;
  border-radius: 5px;
}

.first-cut-discount>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}

.first-cut-discount h3 {
  font-size: 24px;
}

.first-cut img {
  height: 250px;
  width: auto;
}

.first-cut .btn {
  width: 90%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

#benefits {
  overflow: hidden;
  padding: 60px 0 80px;
}

.benefits>div {
  display: grid;
  position: relative;
  z-index: 1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 20px 0;
  transition: 0.15s;
  font-weight: 700;
  border-top: 1px solid rgb(186, 186, 186);
}

.benefits-img {
  position: absolute;
  top: -70%;
  right: 0;
  height: 100px;
  z-index: 99;
}

.benefits-img>img {
  height: 300px;
  padding: 10px;  
  z-index: 99;
  background-color: rgba(44, 44, 44, 1);
  border-radius: 5px;
  opacity: 0;
  transition: 0.15s;
  position: relative;
}


.benefits>div:hover img {
  opacity: 1;
}

.benefits h1 {
  font-size: 32px;
}

.benefits>p {
  font-weight: 700;
  margin-bottom: 20px;
}

.benefits-text {
  color: rgb(205, 205, 205);
  transition: 0.15s;
}

.benefits>div:hover {
  color: white;
}

.benefits>div:hover .benefits-text {
  color: white;
}

.benefits>div::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 100vw;
  height: 100%;
  transform: translateX(-50%);
  background: rgb(173, 174, 165);
  opacity: 0;
  z-index: -1;
  transition: 0.15s;
}

.benefits>div:hover::after {
  opacity: 1;
}

.benefits button {
  width: 100%;
  background: rgb(173, 174, 165);
  padding: 15px 0;
  color: white;
  margin-top: 20px;
}

.benefits button:hover {
  background: rgba(173, 174, 165, 0.664);
}