#services {
  background: rgb(44, 44, 44);
  padding: 60px 0 80px;
  color: white;
}
.services h4 {
  font-weight: 700;
}
.services-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.services-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.service-btn {
  font-size: 48px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
}
.service-btn::before {
  content: "";
  height: 1px;
  width: 0%;
  background: white;
  position: absolute;
  bottom: 0;
  transition: 0.5s;
}
.service-btn:hover::before {
  content: "";
  height: 1px;
  width: 100%;
  background: white;
  position: absolute;
  bottom: 0;
  transition: 0.5s;
}
.services-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.service {
  padding: 20px;
  border: 1px solid rgba(65, 65, 65, 1);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-numb {
  font-weight: 700;
}
.service-txt {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service-title {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.service-desc {
  color: rgba(86, 86, 86, 1);
  font-size: 16px;
  font-weight: 700;
  width: 50%;
}
.service-price {
  font-size: 32px;
  font-weight: 700;
}
.serv-btn {
  padding: 20px 0;
}

#gallery {
  padding: 60px 0 80px;
  color: rgba(44, 44, 44, 1);
}
.gallery {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.gallery-upper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-upper h2 {
  font-weight: 700;
  font-size: 48px;
}
.gallery-slider {
  position: relative;
}
.slick-track {
  display: flex;
  gap: 20px;
}
.slick-slide {
  width: 363px;
  overflow: hidden;
}
.slick-slide img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.slick-slider button {
  display: none;
}
.slick-next,
.slick-prev {
  display: none;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}
.slick-dots li {
  width: 12px;
  height: 12px;
  margin: 0 12px;
}
.slick-dots li button {
  content: "";
  font-size: 0;
  line-height: 0;
  display: block;
  width: 12px;
  height: 12px;
  padding: 5px;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: 0 0;
  background: transparent;
  border-radius: 50%;
}
.slick-dots li button:before {
  content: "";
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  text-align: center;
  border-radius: 50%;
  opacity: 0.25;
  background: grey;
}
.slick-dots li.slick-active button:before {
  color: grey;
}
#discount {
    padding: 10px;
}
.disc-cont {
    max-width: 1400px;
}
.discount {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    border-radius: 4px;
    background: rgb(173, 174, 165);
}
.disc-img {
   width: 400px;
}
.disc-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.discount-info {
    padding: 40px 0 40px;
    display: flex;
    flex-direction: column;
}
.discount-info h4 {
    font-weight: 700;
    font-size: 64px;
    letter-spacing: -0.04em;
    color: white;
}
.discount-info span{
    color: rgba(206, 206, 201, 1);
    font-weight: 700;
}
.disc-btn {
    margin: 20px 0 0;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#blog {
  padding: 100px 0 0;
}
.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}
.blog-item {
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  color: rgba(44, 44, 44, 1);
  transition: .5s;
}
.blog-text {
  overflow: hidden;
  text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.blog-item:hover {
  background: rgba(44, 44, 44, 1);
  color: white;
  transition: .5s;
}
.blog-title {
  font-size: 24px;
  font-weight: 700;
}
.blog-img {
  width: 100%;
  height: 200px;
}
.blog-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#job {
  padding: 100px 0;
  background: url('../image/vacancy-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.job-title {
  font-size: 90px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
.job {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.job-salary {
  font-size: 48px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
.job-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.job-form {
  display: flex;
  justify-content: space-between;
}
.job-address {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.job-address span {
  font-weight: 500;
  font-size: 24px;
  display: flex;
  gap: 30px;
  align-items: center;
  color: #d4af37;
}
.job-icon {
  background: white;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.job-icon svg {
  color: black;
}
#form {
  width: 50%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(212, 175, 55, 0.2);
}
#form h2 {
  color: white;
}
#form label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
#form label>span {
  font-weight: 600;
  color: #d4af37;
}
#form input {
  border: 2px solid #d4af37;
  background: inherit;
  border-radius: 20px;
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}
#form input::placeholder {
  color: white;
  font-weight: 400;
  font-size: 16px;
  color: gray;
}

.send-btn {
  padding: 15px;
  color: black;
  width: 100%;
  cursor: pointer;
}

  
