#services {
  background: rgb(44, 44, 44);
  padding: 60px 0 80px;
  color: white;
}
.services h4 {
  font-weight: 700;
}
.services-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.services-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.service-btn {
  font-size: 48px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
}
.service-btn::before {
  content: "";
  height: 1px;
  width: 0%;
  background: white;
  position: absolute;
  bottom: 0;
  transition: 0.5s;
}
.service-btn:hover::before {
  content: "";
  height: 1px;
  width: 100%;
  background: white;
  position: absolute;
  bottom: 0;
  transition: 0.5s;
}
.services-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.service {
  padding: 20px;
  border: 1px solid rgba(65, 65, 65, 1);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-numb {
  font-weight: 700;
}
.service-txt {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service-title {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.service-desc {
  color: rgba(86, 86, 86, 1);
  font-size: 16px;
  font-weight: 700;
  width: 50%;
}
.service-price {
  font-size: 32px;
  font-weight: 700;
}
.serv-btn {
  padding: 20px 0;
}

#gallery {
  padding: 60px 0 80px;
  color: rgba(44, 44, 44, 1);
}
.gallery {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.gallery-upper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-upper h2 {
  font-weight: 700;
  font-size: 48px;
}
.gallery-slider {
  position: relative;
}
.slick-track {
  display: flex;
  gap: 20px;
}
.slick-slide {
  width: 363px;
  overflow: hidden;
}
.slick-slide img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.slick-slider button {
  display: none;
}
.slick-next,
.slick-prev {
  display: none;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}
.slick-dots li {
  width: 12px;
  height: 12px;
  margin: 0 12px;
}
.slick-dots li button {
  content: "";
  font-size: 0;
  line-height: 0;
  display: block;
  width: 12px;
  height: 12px;
  padding: 5px;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: 0 0;
  background: transparent;
  border-radius: 50%;
}
.slick-dots li button:before {
  content: "";
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  text-align: center;
  border-radius: 50%;
  opacity: 0.25;
  background: grey;
}
.slick-dots li.slick-active button:before {
  color: grey;
}
